<%- include('./Partials/header'); -%>

<ul type="none">
    <% for (let i of posts) {%>
    <li>
        <h1><%= i.title %></h1>
        <p><%= i.createdAt.toDateString() %></p>
        <p><%= i.content %></p>
    </li>
    <% } %>
</ul>
<%- include('./Partials/footer'); -%>
