<%- include('./Partials/header'); -%>

<h2>Compose New Post</h2>

<%- include('./Partials/messages.ejs'); -%>

<form action="/new-post" method="POST">
    <input
        type="text"
        class="form-control"
        name="postTitle"
        id="titleInput"
        placeholder="Title ..."
        value="<%= typeof postTitle != 'undefined' ? postTitle : '' %>"
        required
    />
    <textarea
        name="content"
        class="form-control"
        id="contentInput"
        cols="50"
        rows="10"
        placeholder="Write away ...."
        value="<%= typeof content != 'undefined' ? content : '' %>"
        required
    ></textarea>
    <button type="submit" class="btn btn-primary">Submit</button>
</form>

<%- include('./Partials/footer'); -%>
